[submodule "buildroot"]
	path = buildroot
	url = git@github.com:o7-machinehum/buildroot.git
    branch = numpy-bump

[submodule "Bjorn-blackhat"]
	path = package/bjorn/bjorn
	url = git@github.com:o7-machinehum/Bjorn-blackhat.git
[submodule "armbian"]
	path = armbian
	url = https://github.com/armbian/build
[submodule "package/bhtui/third-party/TermOx"]
	path = package/bhtui/third-party/TermOx
	url = https://github.com/a-n-t-h-o-n-y/TermOx
