[submodule "buildroot"]
	path = buildroot
	url = git@github.com:o7-machinehum/buildroot.git
    branch = numpy-bump

[submodule "Bjorn-blackhat"]
	path = package/bjorn/bjorn
	url = git@github.com:o7-machinehum/Bjorn-blackhat.git
